@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

 <!--==============================================================
                  
                Our Services Section Starting from Here....
    
        ================================================================-->


        <section class="section services-section">

            <div class="container services-container">

                <h2 class="common-heading bio-heading-only ">Services Offering</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni doloremque impedit iure et illum exercitationem quo nemo minima vel nulla.</p>
            
            </div>

            <!--Services card-->

            <div class="cards-container grid-three-columns">
                
             <div class="service-card">

                 <i class="fa-solid fa-desktop"></i>
                <h3>Web Design</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, modi. Dicta, architecto.  Qui, voluptas velit! Quia hic fuga illum commodi a, doloremque totam.</p>

             </div>

             <div class="service-card">

                <i class="fa-solid fa-splotch"></i>
               <h3>Web developement</h3>
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, modi. Dicta, architecto.  Qui, voluptas velit! Quia hic fuga illum commodi a, doloremque totam.</p>

            </div>

            <div class="service-card">

                <i class="fa-solid fa-mobile-screen-button"></i>
               <h3>Android App</h3>
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, modi. Dicta, architecto.  Qui, voluptas velit! Quia hic fuga illum commodi a, doloremque totam.</p>

            </div>

            <div class="service-card">

                <i class="fa-solid fa-desktop"></i>
               <h3>Graphic Designing</h3>
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, modi. Dicta, architecto.  Qui, voluptas velit! Quia hic fuga illum commodi a, doloremque totam.</p>

            </div>

            <div class="service-card">

                <i class="fa-solid fa-desktop"></i>
               <h3>HTML</h3>
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, modi. Dicta, architecto.  Qui, voluptas velit! Quia hic fuga illum commodi a, doloremque totam.</p>

            </div>

            <div class="service-card">

                <i class="fa-solid fa-desktop"></i>
               <h3>CSS</h3>
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, modi. Dicta, architecto.  Qui, voluptas velit! Quia hic fuga illum commodi a, doloremque totam.</p>

            </div>


            </div> <!--Container div end-->

        </section> <!--end of services section-->
